<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.DetailMapper">

    <select id="getRepliesByPid" resultType="com.test.pojo.PostReply">
        select  r.*, u.uname
        from (webproject.postreplies r
            join
            webproject.posts p
            on r.pid = p.pid)
                 join
             webproject.users u
             on
                 r.uid = u.uid
        where  p.pid = #{pid};
    </select>

</mapper>